.login{
    width: 30%;
}
.login-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-link-fb{
    text-decoration: none;
    background-color: rgb(71, 71, 205);
    color: aliceblue;
    margin: 8px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
}
.login-link-gg{
    background-color: rgb(231, 231, 233);
    color: black;
}
.login-p{
    margin-bottom: 0;
   
    text-align: center;
}
.ti-google{
    color: rgba(201, 218, 11, 0.999);
}
.login-btn-green{
    background-color: rgb(29, 228, 59);
    border: white;
    padding: 10 50px;
    
}
.login-btn-green:hover{
    background-color: rgba(30, 215, 13, 0.723);
}
.form-login{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}