
.languat{
  border: none;
  background-color:  var(--bs-body-bg);
}
.text-center{
  text-align: center;
}
.btn-center{
  margin-left: auto;
  margin-right: auto;
}
.container2{
  width: 100%;
}
.bolg-text1{
  text-align: justify;
}
.footer-img{
  width: 50px;
}
