.main{
    width: 100%;
    max-width: 1650px;
}
.container{
    /* width: 60%; */
 
}
.navbar-nav{width: 85%;}
.nav-logo{
    width: 60px;
    min-height: 60px;
   opacity: 0.8;
}
.nav-login-t,.flast-btn{
    background-color: rgb(69, 125, 69);
    color: aliceblue;
    border: 2px solid rgb(237, 233, 233);
    border-radius: 8px;
    padding: 8px 5px;
    font-weight: 600;
}
.flast{
    background-color:rgb(212, 232, 239) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;

}
.flast-content{
    margin-bottom: 0px;
    padding: 2px 8px;
}
.flast-btn{
    padding: 5px ;
    
}
.nav-form-1{
    margin-top: 0;
}
.blog-most{
    text-decoration: none;
    color: black;
}
.blog-list-most{
    list-style: auto;
}
.blog-most:hover{
    color: rgb(6, 86, 41);
}
.file {
  position: relative;
  width: 100%;
  
  border-radius: 10px;
}

.file-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #25b23a;
  overflow: hidden;
  width: 100%;
  border-radius: 25px;

  height: 0;
  transition: .5s ease;
}

.file:hover .overlay {
  height: 25%;
}

.file-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn-job{
    width:200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.job-box{
    margin-bottom: 20px;
}
.text{
    font-family: 'Times New Roman', Times, serif;
}
