.main{
  width: 100%;
  /* max-width: 1650px; */
}
.container{
  width: 50%;

}
.container1{
width: 73%;
}
.navbar-nav{width: 85%;}
.nav-logo{
  width: 60px;
  min-height: 60px;
 opacity: 0.8;
}
.nav-login-t,.flast-btn{
  background-color: rgb(69, 125, 69);
  color: aliceblue;
  border: 2px solid rgb(237, 233, 233);
  border-radius: 8px;
  padding: 8px 5px;
  font-weight: 600;
}
.flast{
  background-color:rgb(212, 232, 239) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;

}
.flast-content{
  margin-bottom: 0px;
  padding: 2px 8px;
}
.flast-btn{
  padding: 5px ;
  
}
.nav-form-1{
  margin-top: 0;
}
.blog-most{
  text-decoration: none;
  color: black;
}
.blog-list-most{
  list-style: auto;
}
.blog-most:hover{
  color: rgb(6, 86, 41);
}
.file {
position: relative;
width: 100%;

border-radius: 10px;
}

.file-img {
display: block;
width: 100%;
height: auto;
border-radius: 25px;

}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #25b23a;
overflow: hidden;
width: 100%;
border-radius: 25px;

height: 0;
transition: .5s ease;
}

.file:hover .overlay {
height: 25%;
}

.file-text {
color: white;
font-size: 16px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
.btn-job{
  width:200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.job-box{
  margin-bottom: 20px;
}
.text{
  font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 992px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.about-img{
  width: -webkit-fill-available;
  opacity: 0.8;
}
.about-1{
  background-color: rgb(140, 142, 144);
}
.about-heading{
font-size: 44px;
}
.about-container{
width: 70%;
margin-left: auto;
margin-right: auto;
}
.about-content{
text-align: justify;
width: 90%;
padding-top: 3%;
}
.about-1{
background-color: rgb(253, 255, 254);
}
/* slide review */
  .review {
    position: relative;
    height: 100%;
    background: #fff;
    
  }

  .review {
    background: #fff;

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }
  .card-avt{
    width: 25%;
    border-radius: 50%;
  }
  .booter{
    background-color: rgb(20, 19, 19);
    height: 400px;
  }
.fa-star{
  color: gold;
  
}
.languat{
  border: none;
  background-color:  var(--bs-body-bg);
}
.text-center{
  text-align: center;
}
.btn-center{
  margin-left: auto;
  margin-right: auto;
}
.container2{
  width: 100%;
}
.bolg-text1{
  text-align: justify;
}
.footer-img{
  width: 50px;
}
.footer-icon i {
 font-size: 30px;
 padding-right: 8px;
}
a:hover{
  cursor: pointer;
}
